<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Uređivanje kategorije</title>
</head>
<body layout:fragment="content">
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Uređivanje kategorije</h4>
            <form th:object="${category}" th:action="@{/category/edit/{id}(id=${category.getId()})}" method="POST">

                <label class="col-form-label">Unesite naziv kategorije:</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>

                <label class="col-form-label">Odaberite nadkategoriju</label>
                <select class="form-control" th:field="*{parent}">
                    <option value="">Odaberite kategoriju</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>

                <button type="submit" class="btn btn-primary mt-5">Uredi</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>